
common --registry=https://bcr.bazel.build/
common --registry=https://raw.githubusercontent.com/envoyproxy/bazel-registry/495d8786e7462aa16934f30fedc5e2586306d1b7

# Build settings
build --incompatible_strict_action_env
